@charset "UTF-8";
@function rem($value){
    @return($value/16)+rem;
}
$bg-color:#F4F4F4;

body{
    background: url(../images/haikei01_119_Wi76S.png) no-repeat center center;
    background-attachment: fixed;
    text-align: center;
    color: #373232;
    font-family: 'Kosugi Maru', sans-serif;
}
.inner{
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}
button{
    display: none;
}
.button{
    &__img{
        height: 10vh;
        position: fixed;
        right: 8%;
        bottom: 5%;
        z-index: 20;
    }
    &__text{
        position: fixed;
        height: 5vh;
        right: 8%;
        bottom:15%;
        z-index: 20;
    }
}
.header{
    position: relative;
    &__flex{
        display: flex;
        align-items: center;
    }
    &__title{
        font-size: rem(30);
    }
    &__img{
        margin: 0 auto;
        height: auto;
        width: 100%;
        padding-top: 161px;
    }
    &__text{
        font-size: rem(35);
        text-align: center;
        display: inline-block;
        border-bottom: 2px #000 solid;
        margin: rem(65) 0 rem(162);
    }
    &__border{
        text-align: center;
        display: inline-block;
        width: 21%;
        border-bottom: 2px #000 solid;
    }
}
.gnav{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    opacity: 90%;
    align-items: center;
    &__list{
        display: flex;
    }
    &__link{
        color: #373232;
        text-decoration: none;
    }
    &__link:hover{
        color: #A9D0D8;
    }
    &__item{
        width: 120px;
        list-style: none;
    }
}

.slider {
    margin-top: 161px;
  position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/

.slider-item01 {
    background:url(../images/22615512_s.png);
}

.slider-item02 {
    background:url(../images/slideshow.png);
}

.slider-item03 {
    background:url(../images/slideshow2.png);
}

.slick-dots{
    display: none;
}
.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:50vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

.title{
    display: inline-block;
    text-align: center;
    font-size: rem(35);
    font-weight: normal;
    padding-bottom: 20px;
    margin-bottom: 50px;
    padding: rem(140) 0 0 0;
    border-bottom: rgba(248,238,113,0.33) 20px solid;
    width: 30%;
}

.about{
    background-color: #F4F4F4;
    &__list{
        display: flex;
        justify-content: space-around;
        padding: rem(50) 0 rem(20) ;
    }
}

.merit{
    &__box{
        display: flex;
        justify-content: center;
        padding: rem(35) 0 rem(190);
    }
    &__item{
        margin: 0 5%;
        width: 18%;
    }
}
.function{
    background-color: $bg-color;
    &__box{
        display: flex;
        justify-content: center;
        padding: rem(120) 0 rem(210);
    }
    &__item{
        margin: 0 rem(30);
    }
    &__img{
        width: 85%;
    }
    &__text{
        font-size: rem(24);
    }
}
.service{
    &__box{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        padding-bottom: rem(220);
    }
    &__img{
        width: 35%;
        margin-bottom: rem(20);
    }
}
.footer{
    background-color: $bg-color;
    &__copy{
        display: block;
        padding: rem(100) 0 rem(150);
    }
}